[Unit]
Description= interface lumiere TRADFRI / JEEDOM 
After = systemd-user-sessions.service network.target network-online.target

[Service]
PIDFile=/var/run/tradfridaemon.pid
ExecStart=/usr/local/sbin/tradfridaemon.py

[Install]
WantedBy=multi-user.target

